root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[{messages.*, spring.schemas, spring.handlers, messages, *.properties}]
indent_style = space
indent_size = 2

[.editorconfig]
indent_style = space
indent_size = 2

[{*.yml, *.yaml}]
indent_style = space
indent_size = 2

[{*.groovy, *.gradle}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
quote_type = single
