apiVersion: v1
kind: Namespace
metadata:
  name: production
  labels:
    name: production 
---
apiVersion: v1
kind: Namespace
metadata:
  name: development
  labels:
    name: development
---
apiVersion: v1
kind: Namespace
metadata:
  name: devops
  labels:
    name: devops
